@import '../../../variables.scss';
.dashboard {
    padding: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color:rgba(0, 0, 0, 0.2);
   
    .tabs {
        font-size: 12px;
        a {
            color: $main-color;
        }
    }
    .title {
        font-size: 30px;
        font-weight: bold;
        color: #34495e;
    }
    .right {
        button {
            background: $main-color;
            float: right;
            border-radius: 20px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
            color: #fff;
            margin: 20px 33px;
            i{
                font-size: 14px;
                padding: 5px;
            }
            span {
                @media(max-width: 425px){
                    display: none;
                    }
            }
            @media(max-width: 425px){
                width: 58px;
            }
        }
    }
}
.user-listing {
    margin-top: 30px;
    border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  .Alluser {
      .contents {
          min-height: 275px;
      }
      a {
          color: #34495e;
          font-size: 15px;
          display: block;
          cursor: pointer;
          img {
            width: 71px;
            border-radius: 50%;
            padding: 6px;
            margin-left: 15px;
            
          }
          p{
            display: inline-block;
          }
          &:hover {
            background: #f5f5f5 ;
        }
        .right-sec {
            float: right;
            margin-right: 20px;
            i {
                padding: 5px;
                border: 1px solid;
                border-radius: 4px;
                margin-top: 20px;
                color: $main-color;
                margin-left: 5px;
            }
        }
        .right-arrow {
            position: absolute;
            right: 4px;
            top: 37%;
            color: $main-color;
        }
    }
}
        .LoadMore {
            display: block;
            width: 150px;
            margin: 0 auto;
            margin-top: 18px;
            background: $main-color;
            border-radius: 4px;
            color: #fff;
        }
}
#custom-modal-1 {
    z-index: 10000;
}
.diplay-alert {
    position: absolute;
    width: 303px;
    z-index: 9999;
    left: 9px;
    top: 27%;
}
#custom-modal-2 .modal-body {
    height: 210px;
}
#custom-modal-3 .modal-body {
    height: 100%;
    margin-top: 0;
    border-radius: 0;
    position: absolute;
    right: 0;
    img{
        border-radius: 50%;
        margin-top: 5%;
    }
    button {
        width: 95px;
        font-size: 13px;
    }

}
#custom-modal-4 .modal-body{
    height:315px;

    img {
        border-radius: 50%;
        margin-bottom: 4%;
    }
}