<div class="diplay-alert">
  <alert></alert>
</div>
<modal id="custom-modal-4">
    <div class="modal">
        <div class="modal-body">
            <img [src]='UserDetails.avatar' />
            <form  [formGroup]="NewUser" (ngSubmit)="onEdit()">
               <div class="form-group">
                 <input placeholder="new username" type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                 <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                     <div *ngIf="f.username.errors.required">Username is required</div>
                 </div>
               </div>
               <div class="form-group">
                 <input placeholder="new job" type="text" formControlName="job" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.job.errors }" />
             <div *ngIf="submitted && f.job.errors" class="invalid-feedback">
                 <div *ngIf="f.job.errors.required">this Field is required</div>
             </div>
             </div>
                  <button class="btn">Save</button>
              </form>
        </div>
    </div>
    <div class="modal-background"></div>
  </modal>
<modal id="custom-modal-3">
  <div class="modal">
      <div class="modal-body">
          <img [src]='UserDetails.avatar' />
          <h4>{{UserDetails.first_name}}</h4>
          <button (click)="getUsername(UserDetails)" class="btn">
              <i  class="fa fa-trash" aria-hidden="true"></i>
              Delete
          </button>
          <button (click)="editUser(UserDetails)" class="btn">
              <i  class="fa fa-pencil" aria-hidden="true"></i>
              Edit
          </button>
      </div>
  </div>
  <div class="modal-background"></div>
</modal>
<modal id="custom-modal-1">
    <div class="modal">
        <div class="modal-body">
          <p>Are You Sure You Want To Delete</p>
          <h4>{{userToDelete.username}}</h4>
            
            <button class="btn" (click)="closeModal('custom-modal-1');openModal('custom-modal-3')">No</button>
            <button class="btn" (click)="deleteUser()">Yes</button>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>
<modal id="custom-modal-2">
  <div class="modal">
      <div class="modal-body">
       <form  [formGroup]="NewUser" (ngSubmit)="onSubmit()">
         <p>enter new user data</p>
        <div class="form-group">
          <input placeholder="username" type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group">
          <input placeholder="job" type="job" formControlName="job" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.job.errors }" />
      <div *ngIf="submitted && f.job.errors" class="invalid-feedback">
          <div *ngIf="f.job.errors.required">job is required</div>
      </div>
      </div>
           
           <button class="btn">Save</button>
       </form>
      </div>
  </div>
  <div class="modal-background"></div>
</modal>
<div class="container-fluid dashboard">
 <div class="container">
    <nav>
        <div class="row">
    
          <div class="col">
            <span class="tabs">
              <a href="">Home</a>/<a href="">Dashboard</a>
            </span>
            <p class='title'>
              Users List
            </p>
          </div>
          <div class=" col pull-right right">
             
            <button (click)="openModal('custom-modal-2')" class="btn pull-right">
              <span>New User</span>
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <!-- Listing-->
  <div class=" container card user-listing">
    <div class="card-body">
      <div class="row">
        <div class="col-12 contents">
          <div *ngFor="let user of users.data" class="Alluser">
              <a (click)="SingleUser(user)" class="card">
                <img [src]="user.avatar" />
                <p>{{user.first_name}}</p>
                <div class="pull-right right-sec">
                 
                    <i  class="fa fa-pencil" aria-hidden="true"></i>
                    <i  class="fa fa-trash" aria-hidden="true"></i>

                </div>
                <i class="fa fa-angle-right right-arrow"></i>
              </a>
          </div>
           <button 
              class="btn LoadMore" 
              (click)="getUsersData(count = count+1)"
              [disabled]="users.total_pages === count"
              >More</button>
        </div>
      </div>
    </div>
    
  </div>
