@import './variables.scss';
/* Call Requred Fonts */
/* heebo-regular - latin */
@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    // src: url('./assets/fonts/heebo-v3-latin-regular.woff')
    src: url('./assets/fonts/heebo-v3-latin-regular.woff'); /* IE9 Compat Modes */
  } 
  //set Global App Styles
body {
    background-color: $bg-color !important;
    font-family: 'Heebo' !important;
}

/* MODAL STYLES
-------------------------------*/
jw-modal {
    /* modals are hidden by default */
    display: none;
 
    .jw-modal {
        /* modal container fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
 
        /* z-index must be higher than .jw-modal-background */
        z-index: 1000;
         
        /* enables scrolling for tall modals */
        overflow: auto;
 
        .jw-modal-body {
            padding: 20px;
            background: #fff;
 
            /* margin exposes part of the modal background */
            margin: 40px;
        }
    }
 
    .jw-modal-background {
        /* modal background fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
 
        /* semi-transparent black  */
        background-color: #000;
        opacity: 0.75;
         
        /* z-index must be below .jw-modal and above everything else  */
        z-index: 900;
    }
}
 
body.jw-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.modal {
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .4s;
}
.modal-open .modal {
    background-color: rgba(0, 0, 0, 0.5);
    
    }
    .modal-open .modal .modal-body{
       text-align: center;
        width: 363px;
        height: 171px;
        border-radius: 10px;
        background-color: #ffffff;
        margin: 0 auto;
        margin-top: 20%;
        p{
            font-size: 15px;
            font-weight: normal;
            color: #7f8c8d;
            top: 27%;
        }
        h4 {
            font-weight: bold;
        }
        button {
            width: 146px;
            height: 40px;
            border-radius: 20px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
            background-color: #f5f5f5;
            margin-left: 13px;
            border-color: $main-color;
            &:hover {
                background: $main-color;
                color: #fff;
            }
        }
    }