<!-- Image and text -->
<nav class="navbar navbar-light">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/images/logo.png" class="d-inline-block align-top" alt="">
  </a>
  <div class="right-nav">
    <a [routerLink]="['/dashboard']" class="btn btn-link">Home</a>
    <a [routerLink]="['/about']" class="btn btn-link">About</a>
    <a [routerLink]="['/contact']" class="btn btn-link">Contact</a>
    <a *ngIf="isLoggedIn == false" [routerLink]="['/']" class="login btn btn-link">Login</a>
    <a *ngIf="isLoggedIn == true" (click)='logout()' [routerLink]="['/']" class="login btn btn-link">Logout</a>
  </div>
</nav>