  <div class="container login">
    <div class="row">
      <div class="hidden-xs visible-sm col-sm-5 left-img"><img src="../../../assets/images/B53704A6-DAF9-415E-A6DE-74C2586E68A0.png"></div>
      <div class="col-xs-12 col-sm-7 login-area">
        <p class="Welcome-back">Welcome back!</p>
        <p class="Please-login-to-acce">Please login to access your <span><a href="">Spaces</a></span> Dashboard</p>
        <form class="submit-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
          </div>
          <div class="form-group">
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
          </div>
          <div class="form-group">
            <a href="#">Forget Password ?</a> <button class=" pull-right btn">Login</button>
          </div>
        </form>
        <alert></alert>
      </div>
    </div>
  </div>

